 
    .profile_text { 
        color: #ffffff;
    }
    body {
	    background-image: url('BACKGROUND IMAGE LINK')!important;
        background-color:#ffffff !important; 
        background-position:top-center!important;
    }
    .logo_div{
        display:none !important;
    }
    .topad{
        display:none !important;
    }
    #left_container{
        display:none !important;
    }
    #asltable{
        display:none !important;
    }
    hr{
        display:none !important;
        border-top: 0px !important;
    }
    #outer_container{
        display:Transparent !important;
    }
    .fpix_header {
    border-bottom:5px !important;
    margin-bottom:5px !important;
    padding-bottom: 5px !important;
    }
    .first-header {
        color: #959595 !important;
        font-family: 'Amatic SC', cursive !important;
        font-size: 100px;
        margin: 0px 0px 0px 0px;
    }
    #content-frame {
        border: 6px solid silver;
        width: 441px;
        height: 397px;
        border-radius: 4px;
    }
    #tabs-box {
        width: 544px;
        height: 51px;
        border:3px solid #dddddd;
        border-radius: 4px;             
    }
    .buttons {
        border: solid #dddddd;
        width: 130px;
        height: 40px;  
        float: left; 
        text-align:center;
        font-family: 'Amatic SC';
        font-size: 30px; 
        padding-top: 5px;        
    }
    a {
        text-decoration: none;
        color: #aaaaaa;
    }
    a :hover {
        background-color: #cccccc;
        color: #ffffff;
    } 
    #kitten {
	float: right;
    margin-top: -400px;
    }
    #content-text {
        font-family: 'Amatic SC';
        color: #808080;
	font-size: 24px;

    }
