    .profile_text { 
        color: #ffffff;
    }
    body {
	background-image: url('#')!important;
        background-color: #ffffff !important; 
        background-position: top-center!important;
    }
    .logo_div {
        display: none !important;
    }
    .topad {
        display: none !important;
    }
    #left_container {
        display: none !important;
    }
    #asltable {
        display: none !important;
    }
    hr {
        display:none !important;
        border-top: 0px !important;
    }
    #outer_container {
        display: Transparent !important;
    }
    .fpix_header {
    border-bottom: 5px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    }
    .first-header {
        color: #959595 !important;
        font-family: 'Amatic SC', cursive !important;
        font-size: 100px;
        margin: 0px 0px 0px 0px;
    }
    #content-frame {
        border: none;
        width: 500px;
        height: 397px;
        border-radius: 4px; 
    }
    #tabs-box {
        width: 680px !important;
        height: 50px !important;
	margin-top: 40px !important;    
        border: 3px solid #dddddd !important;
        border-radius: 1px !important;
        background-color: #dddddd !important;             
    }
    .buttons {
        border: solid #dddddd !important;
        width: 130px !important;
        height: 40px !important;  
        float: left !important; 
        text-align: center !important;
        font-family: 'Amatic SC' !important;
        font-size: 28px !important; 
        padding-top: 3px !important; 
        background-color: #ffffff !important;   
        border-radius: 10% !important;       
    } 
    #accounts {
        width: 400px !important;
        height: 54px !important;
        margin-top: 35px !important;
        border: 6px solid #aaaaaa !important;
        border-radius: 1px !important;
        background-color: #aaaaaa !important;  
    } 
    .account_links {
        border: 2px solid #ffffff !important;
        border-radius: 15% !important;
    }        
    a {
        color: #aaaaaa !important;
        text-decoration: none !important;
    }
    a :hover {
        background-color: #cccccc !important;
        color: #ffffff !important;
        border-radius: 1px !important;
        font-size: 30px !important;             
    } 
    #kitten {
    float: right;
    margin-top: -400px;
    width: 350px;
    height:350px; 
    }
    #content-text {
        font-family: 'Amatic SC';
        color: #606060;
	font-size: 26px;
    }
