    .profile_text { 
        color: #ffffff;
    }
    body {
	    background-image: url('#')!important;
        background-color:#ffffff !important; 
        background-position:top-center!important;
    }
    .logo_div{
        display:none !important;
    }
    .topad{
        display:none !important;
    }
    #left_container{
        display:none !important;
    }
    #asltable{
        display:none !important;
    }
    hr{
        display:none !important;
        border-top: 0px !important;
    }
    #outer_container{
        display:Transparent !important;
    }
    .fpix_header {
    border-bottom:5px !important;
    margin-bottom:5px !important;
    padding-bottom: 5px !important;
    }
    .first-header {
        color: #959595 !important;
        font-family: 'Amatic SC', cursive !important;
        font-size: 100px;
        margin: 0px 0px 0px 0px;
    }
    #content-frame {
        border: none;
        width: 500px;
        height: 397px;
        border-radius: 4px; 
    }
    #tabs-box {
        width: 680px;
        height: 50px;
        border:3px solid #dddddd;
        border-radius: 0px 0px 10px 0px;
        margin: -8px 0px 0px -8px;
        background-color: #dddddd;             
    }
    .buttons {
        border: solid #dddddd;
        width: 130px;
        height: 40px;  
        float: left; 
        text-align:center;
        font-family: 'Amatic SC';
        font-size: 28px; 
        padding-top: 3px; 
        background-color: #ffffff;   
        border-radius: 10px 0px 10px 0px;       
    }
    #accounts {
       width: 480px;
       height: 380px;
       color: #606060;
       border-radius: 20px;
       border: solid #606060;
    }
    a {
        text-decoration: none;
        color: #aaaaaa;     
    }
    a :hover {
        background-color: #cccccc;
        color: #ffffff;
        border-radius: 8px;
        font-size: 30px;        
    } 
    #kitten {
	float: right;
    margin-top: -400px;
    }
    #content-text {
        font-family: 'Amatic SC';
        color: #606060;
	font-size: 26px;
    }
    .player {
        margin-top: 50px;
    }          
    #music-player {
        margin-top: 50px;
    }  
