              h1{
                font-family: 'Nothing You Could Do', cursive;
                font-size: 80px;
                color:#e6e6fa;
                float: left;
                margin-left: 0px;

            } 
            #profile-image{
                float:right;
                margin-bottom: 0px;
                margin-top: 8%;
            }               
