 body{
	          background-image: url('IMAGE LINK')!important;
            background-color:#f9f9f9!important; 
            background-position:top-center!important;
            }
            .logo_div{
                display:none !important;
            }      
            .topad{
                display:none !important;
            }
            #left_container{
                display:none !important;
            }
            #asltable{
                display:none !important;
            }
            hr{
                display:none !important;
                border-top: 0px !important;
            }
            #outer_container{
                display:Transparent !important;
            }
            .fpix_header{
                border-bottom:5px !important;
                margin-bottom:5px !important;
                padding-bottom: 5px !important;
            }    
            h1{
                font-family: 'Nothing You Could Do', cursive;
                font-size: 60px;
                color:#e6e6fa;
                float: left;
                margin-left: -40px;

            } 
            #profile-image{
                float:right;
                margin-bottom: 0px;
                margin-top: 8%;
            }               
